{{> header}}
<div class="container mt-4">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <a class="btn btn-dark w-25" href="/diary/create">Add Diary</a>
    </div>
    <div class="row">
        {{#if diary}}
            <h2 class="text-muted">Recent Diaries</h2>
            {{#each diary}}
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="/img/diary.jpg" alt="card-image">
                        <div class="card-body">
                            <p class="card-text">{{this.date}}</p>
                            <h5 class="card-title text-muted"><b>{{this.title}}</b></h5>
                            <div class="btn-group">
                                <a href="/diary/{{this._id}}" class="btn btn-dark">View <i class="bi bi-card-text"></i></a>
                                <a href="#" class="btn btn-primary">Edit <i class="bi bi-pencil-square"></i></a>
                                <a href="#" class="btn btn-danger">Delete <i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h4 class="text-secondary">No Entry Found</h4>
        {{/if}}    
    </div>
</div>