<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 col-sm-12">
            <h1 class="display-4 fw-bold">My Diary <img src="/img/diary_icon.svg" width="45" height="45"
                    alt="diary icon"></h1>
            <p class="lead font-weight-normal">A Simple Web App to Write Your Daily Diary, and Save✨</p>
            <a class="btn btn-success" href="/login">Get Started</a>
        </div>
        <div class="hero__image col-md-6 col-sm-12">
            <img class="img-fluid" src="/img/hero_image.jpg" width="500">
        </div>
    </div>
</div>