<section>
    <div class="container mt-3 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <h2 class="text-center">Create an Account</h2>
                <div class="card border-0">
                    <div class="card-body">
                        <form action="/signup" method="post" autocomplete="off">
                            <div class="text-center">
                            <img width="50" height="50" src="/img/person-circle.svg" alt="person-circle" class="img-responsive my-2">
                            </div>
                            <input type="text" name="username" id="username" class="form-control my-3 py-2" placeholder="Username" required>
                            <input type="password" name="password" id="password" class="form-control my-3 py-2" placeholder="Password" required>
                            <input type="password" name="confirmPassword" id="password" class="form-control my-3 py-2" placeholder="Confirm Password" required>
                            <div class="text-center">
                                <input type="submit" class="w-100 mt-3 btn btn-primary" value="Sign up">
                            </div>
                            <div class="text-center mt-3">
                                 <a href="/login" class="link-primary">Already have an account? Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>